header{
    background-color: aquamarine;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}
body{
    text-align: center;
    color: aquamarine;
    background-image: linear-gradient(to right, white, aquamarine);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
footer{
    text-align: center;
}
.imagem{
    text-align: center;
}
.botao{
    border-radius: 60px;
}